{% extends "layout.html" %}

{% block body %}

{% if pd.item %}
{% endif %}

<div class="container">
    <div class="col-md-8">
        <form action="/item/edit" method="post" enctype="multipart/form-data">
        <input type=hidden name=uid value={% if pd.item %}{{ pd.item.uid }}{%else%}0{%endif%}>

        <div class="page-header">
        <h3>{% if pd.item %}Editing "{{ pd.item.name }}"{% else %}New Item{% endif %}</h3>
        </div>

        <div class="page-header"><h4>Name</h4></div>
        <input type=text name=name value="{% if pd.item %}{{ pd.item.name }}{%endif%}" size="60"><br />
        <div class="page-header"><h4>Description</h4></div>

        <strong>Description Guidelines</strong><br />

        <ul>
                <li>Is there a story behind this item?</li>
                <li>Who made it?</li>
                <li>What year was it made?</li>
                <li>Was this a limited run? How many were made?</li>
                <li>Are there other similar items that should be linked?</li>
        </ul><br />

        <textarea name=desc cols="80" rows="8" placeholder="Stuff about your item here. You can upload images on the next page.">{% if pd.item %}{{ pd.item.body(pd.item.edit) }}{% endif %}</textarea><br />
        <a href="/about#markuphelp">Markup Help <span data-toggle="tooltip" title="Help" style="color: gray;" class="glyphicon glyphicon-question-sign"></span></a><br /><br />


        <button class="btn btn-sm btn-primary" type=submit>Save</button>&nbsp;&nbsp;&nbsp;

        {% if pd.item %}
        <a class="btn btn-sm btn-danger" href="/item/{{ pd.item.uid }}">Cancel</a>
        {% endif %}
        </form>
    </div>

    <div class="col-md-3">
    </div>
       
</div>

{% endblock %}
