{% extends "layout.html" %}

{% block body %}

<div id="content" class="col-md-12" style="text-align: center;">
  <div id="signupform">

      <div class="page-header"><h4>Sign Up</h4></div>

      <form role="form" action="/newuser" method="post">
        <div class="form-group">
          <label class="newuser-label" for="username">Username:</label>
          <input type=text name=username value="{{ pd.username }}" required><br />
        <div>

        <div class="form-group">
          <label class="newuser-label" for="password">Password:</label>
          <input type=password name=password required><br />
        <div>

        <div class="form-group">
          <label class="newuser-label" for="password2">Confirm password:</label>
          <input type=password name=password2 required><br />
        <div>

        <div class="form-group">
          <label class="newuser-label" for="email">Email address:</label>
          <input type=text name=email value="{{ pd.email }}" required><br /><br />
        <div>

        <div class="form-group">
          <input class="button btn" type=submit value="Create Account"><br><br>
        <div>
      </form>

        <h4>- or -</h4><br>

      <p><a href="/login_with_facebook" class="btn btn-success">Use your Facebook Sign in</a></p>
      <p>You can set a username and email after signing in with Facebook.</p>

  </div>
</div>

{% endblock %}
